<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mapper.CommentPraiseDao">
    <select id="listAll" parameterType="CommentPraise" resultType="CommentPraise">
        select * from comment_praise where commentId=#{commentId} and  
        otherId=#{otherId} and userId=#{userId} and type=#{type}
    </select>
    <insert id="save" parameterType="CommentPraise">
        insert into comment_praise values (#{commentId},#{userId},#{otherId},#{type})
    </insert>
  </mapper>
