<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mapper.Edu_QuestionsDao">
  <resultMap type="Edu_Questions" id="Edu_QuestionsMap">
  <result column="ID" property="id"/>
  <result column="TITLE" property="title"/>
  <result column="CONTENT" property="content"/>
  <result column="TYPE" property="type"/>
  <result column="STATUS" property="status"/>
  <result column="REPLY_COUNT" property="replyCount"/>
  <result column="BROWSE_COUNT" property="browseCount"/>
  <result column="PRAISE_COUNT" property="praiseCount"/>
  <result column="ADD_TIME" property="addTime"/>
  <association property="edu_User" column="CUS_ID" select="com.mapper.Edu_UserDao.getById"></association>
  <association property="edu_Questions_Tag" column="ID" select="com.mapper.Edu_Questions_TagDao.getByIdbq"></association>
  </resultMap> 
  <select id="listAll" resultMap="Edu_QuestionsMap" parameterType="java.util.Map">
  select * from edu_questions
  <where>
  <if test="title!=null">
  and TITLE like '%${title}%'
  </if>
  <if test="type>0">
  and TYPE=#{type}
  </if>
    <if test="flag==4">
    and type=1
   </if>
   <if test="flag==5">
    and type=2
   </if>
  </where>
  <if test="flag==1">
  ORDER BY ADD_TIME desc
  </if>
   <if test="flag==2">
    ORDER BY BROWSE_COUNT desc
   </if>
    <if test="flag==3">
    ORDER BY REPLY_COUNT desc
   </if>
  </select>
  
  <select id="listAlls" resultMap="Edu_QuestionsMap" parameterType="java.util.Map">
  select * from edu_questions ORDER BY REPLY_COUNT desc LIMIT 10
  </select>
  
  <delete id="delete" parameterType="int">
  delete from edu_questions where ID=#{id}
  </delete>
  
  <insert id="save" parameterType="Edu_Questions">
		insert into
		edu_questions(CUS_ID,TITLE,CONTENT,TYPE,STATUS,REPLY_COUNT,PRAISE_COUNT,ADD_TIME)
		values(#{edu_User.userId},#{title},#{content},#{type},#{status},#{replyCount},#{praiseCount},#{addTime})
	</insert>
  
  <select id="getById" resultMap="Edu_QuestionsMap" parameterType="int">
<!--   select * from edu_questions where ID=#{id} -->
  
SELECT * from edu_questions e1,edu_user e2 where e1.CUS_ID=e2.userId and e1.id=#{id}
  </select>
  
  <update id="update" parameterType="Edu_Questions">
  update Edu_Questions set TITLE=#{title},TYPE=#{type},STATUS=#{status} where ID=#{id}
  </update>
  
  <update id="updatedz" parameterType="int">
  update Edu_Questions set PRAISE_COUNT=PRAISE_COUNT+1 where ID=#{id}
  </update>
  
  <insert id="saveRelation" parameterType="java.util.Map">
		insert into
		edu_questions_tag_relation(QUESTIONS_ID,QUESTIONS_TAG_ID)
		values(#{id},#{questionsTagId})
	</insert>
	<select id="getMaxId" resultType="int">
		select max(id) from
		edu_questions
	</select>
  

  <select id="myQuestions" parameterType="int" resultMap="play">
  SELECT * from edu_questions a,edu_user b 
  where a.CUS_ID=b.userId 
  and a.CUS_ID=#{userId}
  order by a.praise_count,a.add_time desc
  </select>
    <resultMap type="Edu_Questions" id="play">
  <result column="ID" property="id"/>
  <result column="TITLE" property="title"/>
  <result column="CONTENT" property="content"/>
  <result column="TYPE" property="type"/>
  <result column="STATUS" property="status"/>
  <result column="REPLY_COUNT" property="replyCount"/>
  <result column="BROWSE_COUNT" property="browseCount"/>
  <result column="PRAISE_COUNT" property="praiseCount"/>
  <result column="ADD_TIME" property="addTime"/>
  </resultMap> 
  </mapper>
  
  