<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mapper.Edu_Questions_CommentDao">
  <resultMap type="Edu_Questions_Comment" id="Edu_Questions_CommentMap">
  <id column="ID" property="id"/>
  <result column="CONTENT" property="content"/>
  <result column="IS_BEST" property="isBest"/>
  <result column="REPLY_COUNT" property="replyCount"/>
  <result column="PRAISE_COUNT" property="praiseCount"/>
  <result column="ADD_TIME" property="addTime"/>
  <result column="COMMENT_ID" property="commentId"/>
 <association property="edu_User" column="CUS_ID" select="com.mapper.Edu_UserDao.getById"></association>
 <association property="edu_Questions" column="QUESTION_ID" select="com.mapper.Edu_QuestionsDao.getById"></association>
  </resultMap>
  <select id="listAll" resultMap="Edu_Questions_CommentMap" parameterType="java.util.Map">
  select * from Edu_Questions_Comment
  <where>
  <if test="id>0">
  and ID=#{id}
  </if>
  <if test="isBest!=null">
  and IS_BEST=#{isBest}
  </if>
  <if test="title!=null">
  and QUESTION_ID in (select id from Edu_Questions where title like '%${title}%')
  </if>
  </where>
  </select>
  <delete id="delete" parameterType="int">
  delete from Edu_Questions_Comment where ID=#{id}
  </delete>
  
  <update id="update" parameterType="Edu_Questions_Comment">
  update Edu_Questions_Comment set IS_BEST=#{isBest} where ID=#{id}
  </update>
  
  <select id="listPL" resultMap="Edu_Questions_CommentMap" parameterType="int">
  select * from Edu_Questions_Comment where QUESTION_ID=#{edu_questions.QUESTION_ID}
  </select>
  
  <select id="getByIdPD" resultMap="Edu_Questions_CommentMap" parameterType="int">
  select IS_BEST from Edu_Questions_Comment where QUESTION_ID=#{edu_questions.QUESTION_ID}
  </select>
  
  <select id="getByIdsx" resultMap="Edu_Questions_CommentMap" parameterType="int">
  select * from Edu_Questions_Comment where QUESTION_ID=#{edu_questions.QUESTION_ID}
  </select>
  <select id="myQuestionsComment" parameterType="int" resultMap="Edu_Questions_CommentMap">
   SELECT * from Edu_Questions_Comment 
  where  CUS_ID=#{userId}
  order by praise_count,add_time desc
  </select>
  </mapper>