<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mapper.EduCommentDao">
    <resultMap type="EduComment" id="EduCommentMap">
        <result column="COMMENT_ID" property="commentId"/>
        <result column="P_COMMENT_ID" property="pCommentId"/>
        <result column="CONTENT" property="content"/>
        <result column="ADDTIME" property="addTime"/>
        <result column="OTHER_ID" property="ontherId"/>
        <result column="PRAISE_COUNT" property="praiseCount"/>
        <result column="REPLY_COUNT" property="replyCount"/>
        <result column="type" property="type"/>
        <association property="user" column="USER_ID" select="com.mapper.Edu_UserDao.getById"></association>
        <association property="eduComments" column="COMMENT_ID" select="com.mapper.EduCommentDao.getChildComment"></association>
    </resultMap>
    <insert id="save" parameterType="EduComment">
        insert into edu_comment (USER_ID,P_COMMENT_ID,CONTENT,ADDTIME,OTHER_ID,PRAISE_COUNT,REPLY_COUNT,TYPE) 
        values (#{user.userId},#{pCommentId},#{content},NOW(),#{ontherId},#{praiseCount},#{replyCount},#{type})
    </insert>
    <delete id="delete" parameterType="int" >
        delete from edu_comment where COMMENT_ID=#{value}
    </delete>
    <select id="listAll" parameterType="java.util.Map" resultMap="EduCommentMap">
       select * from edu_comment 
       
    </select>
    <select id="getById" parameterType="int" resultMap="EduCommentMap">
       select * from edu_comment where COMMENT_ID=#{value}
    </select>
    <select id="getChildComment" parameterType="int" resultMap="EduCommentMap">
       select * from edu_comment where P_COMMENT_ID=#{value} 
    </select>
  </mapper>
