<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.EduTeacherDao">
	<resultMap type="EduTeacher" id="EduTeacherMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="education" column="education" />
		<result property="career" column="career" />
		<result property="isStar" column="is_star" />
		<result property="picPath" column="pic_path" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="sort" column="sort" />
		<association property="sysSubject" column="SUBJECT_ID"
			select="com.mapper.SysSubjectDao.getById"></association>
	</resultMap>
	<select id="listAll" resultMap="EduTeacherMap">
		select *
		from edu_teacher
		<where>
		<if test="qname!=null">
	 	and name like '%${qname}%'
		</if>
		<if test="startTime!=null">
		and create_time &gt; #{startTime}
		</if>
		<if test="endTime!=null">
		and create_time &lt; #{endTime}
		</if>
		</where>
	</select>
	<select id="getById" parameterType="int" resultMap="EduTeacherMap">
		select * from
		edu_teacher where id=#{value}
	</select>
	<select id="listBySid" resultMap="EduTeacherMap" parameterType="int">
	select * from edu_teacher where subject_id = #{value}
	</select>
	<insert id="save" parameterType="EduTeacher">
		insert into
		edu_teacher(name,education,career,is_star,pic_path,create_time,sort,SUBJECT_ID)values(#{name},#{education},#{career},#{isStar},#{picPath},#{createTime},#{sort},#{sysSubject.subjectId})
	</insert>
	<delete id="delete" parameterType="int">
		delete from edu_teacher where
		id=#{value}
	</delete>
	<update id="update" parameterType="EduTeacher">
		update edu_teacher set
		name=#{name},education=#{education},career=#{career},is_star=#{isStar},pic_path=#{picPath},sort=#{sort},update_time=#{updateTime},SUBJECT_ID=#{sysSubject.subjectId}
		where
		id=#{id}
	</update>
</mapper>
