<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.EduTeacherDao">
	<resultMap type="EduTeacher" id="EduTeacherMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="thName" column="th_name" />
		<result property="thPw" column="th_pw" />
		<result property="education" column="education" />
		<result property="career" column="career" />
		<result property="isStar" column="is_star" />
		<result property="picPath" column="pic_path" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="sort" column="sort" />
		<association property="sysSubject" column="SUBJECT_ID"
			select="com.mapper.SysSubjectDao.getById"></association>
	</resultMap>
	<select id="listAll" resultMap="EduTeacherMap">
		select *
		from edu_teacher
	</select>
	<select id="getById" parameterType="int" resultMap="EduTeacherMap">
		select * from
		edu_teacher where id=#{value}
	</select>
	<insert id="save" parameterType="EduTeacher">
		insert into
		edu_teacher(name,th_name,th_pw,education,career,is_star,pic_path,status,create_time,update_time,sort,SUBJECT_ID)values(#{name},#{th_name},#{th_pw},#{education},#{career},#{is_star},#{pic_path},#{status},#{create_time},#{update_time},#{sort},#{sysSubject.subject_id})
	</insert>
	<delete id="delete" parameterType="int">
		delete from edu_teacher where
		id=#{value}
	</delete>
	<update id="update" parameterType="EduTeacher">
		update edu_teacher
		set(name=#{name},th_name=#{th_name},th_pw=#{th_pw},education=#{education},career=#{career},is_star=#{is_star},pic_path=#{pic_path},status=#{status},create_time=#{create_time},update_time=#{update_time},sort,SUBJECT_ID)values(#{name},#{th_name},#{th_pw},#{education},#{career},#{is_star},#{pic_path},#{status},#{create_time},#{update_time},#{sort},#{sysSubject.subject_id})where
		id=#{id}
	</update>
	<select id="getTeacherBySubjectId" parameterType="int" resultType="EduTeacher">
	   select * from edu_teacher where subject_id=#{value}
	</select>
</mapper>
