<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mapper.SysRoleDao">
    <insert id="save" parameterType="SysRole">
       insert into sys_role (roleName,createTime) values (#{roleName},CURDATE())
    </insert>
    <delete id="delete" parameterType="int">
       delete from sys_role where roleId=#{value}
    </delete>
    <update id="update" parameterType="SysRole">
       update sys_role set roleName=#{roleName} where roleId=#{roleId}
    </update>
    <resultMap type="SysRole" id="SysRoleMap">
       <result column="roleId" property="roleId"/>
       <result column="roleName" property="roleName"/>
       <result column="createTime" property="createTime"/>
       <association property="sysFunctions" column="roleId" select="com.mapper.SysFunctionDao.getSysFunctionByRoleId"></association>
    </resultMap>
    <select id="listAll" resultMap="SysRoleMap">
       select * from sys_role
    </select>
    <select id="getById" parameterType="int" resultMap="SysRoleMap">
       select * from sys_role where roleId=#{value}
    </select>
    <delete id="deleteAllFunctionIdByRoleId" parameterType="int">
       delete from sys_role_function where roleId=#{value}
    </delete>
    <insert id="addFunctionIdByRoleId">
       insert into sys_role_function values (#{roleId},#{functionId})
    </insert>
  </mapper>
